.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.counter{ 
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 5px;  
  background-image: linear-gradient(to left, #8b7592, #896e8b, #866784, #84607d, #825975, #7d5873, #775771, #72566f, #69596f, #625c6d, #5e5d68, #5d5e62);
  text-align: center;
}
.count{
  background-color: white;
  font-size: 30px;
  padding: 10px;
  width: 100px;
  margin-bottom: 15px;
}
.button{
  color:white;
  background-color: rgb(51, 110, 46);
  font-size: 30px;
  padding: 5px 10px;
  min-width: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.button:last-child{
  margin-bottom: 0px;
}
.resetButton{
  padding: 4px 10px;
}
.counterContainer{
  display: flex;
  
  align-items: center;
  flex-wrap: wrap;
}
